<form class="row">
    <div class="form-group col-md-2">
      <!-- <label for='nombre' class="sr-only">Nombre</label> -->
      <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="nombreI" >
    </div>
  
    <div class="form-group col-md-2">
      <!-- <label for='nombre' class="sr-only">Nombre</label> -->
      <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control" [(ngModel)]="apellidoI" >
    </div>
  
  <div class="col">
    <button type="submit" class="btn btn-primary" (click)="agregarPersona()" >Agregar</button>
  </div>
  
  </form>
